@inject wellcomePGSEZ.Models.PgsezServiceContext _context;
@{
    ViewData["Title"] = "Home Page";
}
@*


<div class="hero_area">
    <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h1>
                                        پرتال منطقه ویژه
                                    </h1>
                                    <p>
                                        تا افق ۱۴۱۰ توسعه منطقه اقتصادی-صنعتی سرآمد با فراهم آوری زیر ساخت ها و ارائه خدمات مورد نیاز برای تولید ۳۰ میلیون تن محصولات فلزی
                                    </p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img src="images/slider-img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>

    </section><!-- end slider section -->

</div>
*@
<!-- service section -->


<button id="toggleTheme">تغییر حالت</button>
<section class="service_section layout_padding light-mode">
    <div class="heading_container">
        <h2>
            سرویس های در دسترس
        </h2>
        <p>
            این سیستم جدید به گونه‌ای طراحی شده است که دسترسی به خدمات مورد نیاز شما را سریع‌تر، ساده‌تر، و قابل اعتمادتر از همیشه می‌سازد.
        </p>
    </div>
    <div class="container shadow-g">
        <div class="row flex-wrap">
            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s1.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                فرایند های کاری
                            </h5>
                            <p>
                                درخواست کالا،حکم کار و ...
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s2.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                اتوماسیون اداری
                            </h5>
                            <p>
                                مدیریت مکاتبات، پیشرفت کارها و ...
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s3.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                سامانه تردد
                            </h5>
                            <p>
                                حضور و غیاب پرسنل
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s4.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                ایمیل سازمانی
                            </h5>
                            <p>
                                ارسال و دریافت ایمیل سازمانی
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s4.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                سامانه آموزش
                            </h5>
                            <p>
                                سامانه کلاس های آموزشی
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s4.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                وب سایت
                            </h5>
                            <p>
                                اخبار، مناقصات و ...
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3">
                <a href="test.com" target="_blank">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s4.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                فیش حقوقی
                            </h5>
                            <p>
                                دریافت و مشاهده فیش حقوقی
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-6 col-lg-3">
                <a href="https://test.com" target="_self">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s4.png" loading="lazy" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                سامانه مدیریت دانش
                            </h5>
                            <p>
                                ثبت و مشاهده دانش سازمانی
                            </p>
                            <a href="">
                                <span>
                                    ورود
                                </span>
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>


            @{
                var list = _context.Softwares.ToList();
            }

            @foreach (var item in list)
            {
                <div class="col-md-6 col-lg-3">
                    <a href="https://@item.SLinkAddress" target="_blank">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/@item.SImageAddress" loading="lazy" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    @item.SName
                                </h5>
                                <p>
                                    @item.SDescription
                                </p>
                                <a href="">
                                    <span>
                                        ورود
                                    </span>
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    </div>


</section>

