@model wellcomePGSEZ.Models.Software

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Software</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SName" class="control-label"></label>
                <input asp-for="SName" class="form-control" />
                <span asp-validation-for="SName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SImageAddress" class="control-label"></label>
                <input asp-for="SImageAddress" class="form-control" />
                <span asp-validation-for="SImageAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDescription" class="control-label"></label>
                <input asp-for="SDescription" class="form-control" />
                <span asp-validation-for="SDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SLinkAddress" class="control-label"></label>
                <input asp-for="SLinkAddress" class="form-control" />
                <span asp-validation-for="SLinkAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STypeId" class="control-label"></label>
                <select asp-for="STypeId" class="form-control" asp-items="ViewBag.STypeId"></select>
                <span asp-validation-for="STypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STag" class="control-label"></label>
                <input asp-for="STag" class="form-control" />
                <span asp-validation-for="STag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SStatus" class="control-label"></label>
                <input asp-for="SStatus" class="form-control" />
                <span asp-validation-for="SStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
