

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wellcomePGSEZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wellcomePGSEZ.styles.css" asp-append-version="true" />
    <link href="~/css/StyleSheet.scss" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/css/stylesheet.min.css" rel="stylesheet" />
    <script src="~/js/popper.min.js"></script>

</head>
<body>

    <header class="header_section sticky-top">
        @* <nav class="navbar navbar-expand-sm text-light navbar-toggleable-sm navbar-light box-shadow bg-transparent navbar-light"> *@
        <nav class="navbar  navbar-expand-lg custom_nav-container ">
            <div class="container-fluid">
                <i class="fa fa-2x fa-apple m-1"></i>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">پرتال منطقه ویژه صنایع معدنی و فلزی خلیج فارس </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapser" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse navbar-expand-lg collapse justify-content-between justify-content-end  m-2" id="navbar-collapser">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">
                                <span>
                                    <i class='fa fa-home'></i>

                                </span>خانه
                            </a> <span class="sr-only">(current)</span>
                        </li>
                        <li class="nav-item ">

                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy"> <span>
                                    <i class="fa fa-address-book"></i>
                            </span>دفتر تلفن</a>
                        </li>
                       
                    </ul>




                    <button type="button" class="btn text-dark bg-light nav-link" href="admin"> <span>
                        <i class="fa fa-person-skiing"></i>
                    </span>ورود </button>

                </div>


            </div>
        </nav>
    </header>
    <div class="container-fluid" style="padding:0px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2024 - منطقه ویژه صنایع معدنی و فلزی خلیج فارس
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
