@charset "UTF-8";
.service_section {
  text-align: center;
  background: #ffffff;
}
.service_section .shadow-g {
  position: relative;
  top: 0;
  transition: top 0.5s ease-out;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 45px 0px;
  border-radius: 8px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}
.service_section .heading_container {
  opacity: 1;
  transform: translateY(0) translateZ(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  align-items: center;
  padding-bottom: 60px;
  color: #000000;
}
.service_section .heading_container.hidden {
  opacity: 0;
  transform: translateY(-200px);
}
.service_section .hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.service_section .hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.service_section .box {
  /* Sweep To Top */
  margin-top: 25px;
  padding: 15px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.18);
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  /*
  &::before {
      content: "";
      width: 275px;
      height: 275px;
      position: absolute;
      right: -137.5px;
      bottom: -137.5px;
      background-color: lighten($primary-color, 50%);
      z-index: -1;
      border-radius: 100%;
      transition: all 0.6s;
  }


  */
}
.service_section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  border-radius: 15px;
  transition: all 0.6s;
}
.service_section .box .img-box img {
  width: 75px;
  transition: all 0.6s;
}
.service_section .box .detail-box {
  color: #000000;
  margin-top: 15px;
}
.service_section .box .detail-box h5 {
  color: #000000;
  font-size: medium;
  font-weight: bold;
  position: relative;
}
.service_section .box .detail-box a {
  color: inherit;
}
.service_section .box .detail-box p {
  color: #333333;
  font-size: smaller;
  white-space: nowrap;
  padding-top: 5px;
}
.service_section .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.service_section .box:hover img {
  width: 75px;
  transition: all 0.6s;
  filter: invert(1);
}
.service_section .box:hover::before {
  transform: scale(10);
  background-color: #3213d3;
}
.service_section .box:hover h5, .service_section .box:hover a, .service_section .box:hover p {
  color: #e0e0e0;
}
.service_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.service_section .btn-box a {
  background: #3213d3;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.light-mode {
  background: #ffffff;
  color: #000000;
}
.light-mode .service_section {
  text-align: center;
  background: #ffffff;
}
.light-mode .service_section .shadow-g {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
}
.light-mode .service_section .heading_container {
  color: #000000;
}
.light-mode .service_section .heading_container.hidden {
  opacity: 0;
  transform: translateY(-200px); /* تنظیم مقدار جابجایی به عقب */
}
.light-mode .service_section .box {
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.15);
}
.light-mode .service_section .box::before {
  background-color: #ebe8fd;
}
.light-mode .service_section .box .detail-box {
  color: #000000;
}
.light-mode .service_section .box .detail-box a {
  color: inherit;
}
.light-mode .service_section .box .detail-box p {
  color: #333333;
}
.light-mode .service_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.light-mode .service_section .btn-box a {
  background: #3213d3;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.light-mode .box::before {
  width: 250px;
  height: 250px;
  right: -125px;
  bottom: -125px;
}

.dark-mode {
  background: #1e1e1e;
  color: #e0e0e0;
}
.dark-mode .service_section {
  text-align: center;
  background: #1e1e1e;
}
.dark-mode .service_section .shadow-g {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  padding: 30px;
  background: rgba(30, 30, 30, 0.15);
}
.dark-mode .service_section .heading_container {
  color: #e0e0e0;
}
.dark-mode .service_section .heading_container.hidden {
  opacity: 0;
  transform: translateY(-200px); /* تنظیم مقدار جابجایی به عقب */
}
.dark-mode .service_section .box {
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.18);
  background: rgba(30, 30, 30, 0.15);
}
.dark-mode .service_section .box::before {
  background-color: #f7f8fc;
}
.dark-mode .service_section .box .detail-box {
  color: #e0e0e0;
}
.dark-mode .service_section .box .detail-box a {
  color: inherit;
}
.dark-mode .service_section .box .detail-box p {
  color: white;
}
.dark-mode .service_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.dark-mode .service_section .btn-box a {
  background: #3F51B5;
  color: #1e1e1e;
  padding: 10px 45px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.dark-mode .box::before {
  width: 60px;
  height: 100px;
  right: -57px;
  bottom: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #000000;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1e1e1e;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #e0e0e0;
}

.mode-text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  font-size: smaller;
  color: #000;
  transition: color 0.4s;
}

input:checked + .slider + .mode-text {
  color: #fff;
  content: "تاریک";
}

:root {
  --scroll: 0 ;
}

body {
  font-family: "IranSans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_margin {
  margin: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heading_container h2 {
  position: relative;
  font-weight: bold;
}
.heading_container h2 span {
  color: #3F51B5;
}
.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #3F51B5;
  border-radius: 0 0 200px 0;
}

.sub_page .hero_area {
  min-height: auto;
  border-radius: 0 0 45px 0;
}

.header_section {
  padding: 8px 0;
  background-color: #3F51B5;
}
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand {
  font-size: medium;
  font-weight: bold;
  color: #ffffff;
}
.navbar-brand span {
  font-weight: bold;
  color: #3F51B5;
  font-size: 12px;
}

.custom_nav-container {
  padding: 0;
}
.custom_nav-container .navbar-nav {
  margin: auto;
  transition: all 0.9s;
}
.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 12px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: small;
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #ff6a00;
}
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #3F51B5;
  background-color: #ffffff;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  transition: all 0.3s;
}
.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] {
  transform: rotate(360deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span {
  transform: rotate(45deg);
}
.custom_nav-container .navbar-toggler[aria-expanded=true] span::before, .custom_nav-container .navbar-toggler[aria-expanded=true] span::after {
  transform: rotate(90deg);
  top: 0;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-1 {
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-2 {
  display: none;
}
.custom_nav-container .navbar-toggler[aria-expanded=true] .s-3 {
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded=false] .s-3 {
  transform: none;
}

.quote_btn-container {
  display: flex;
  align-items: center;
}
.quote_btn-container a {
  color: #000000;
  text-transform: uppercase;
}
.quote_btn-container a span {
  margin-left: 5px;
}
.quote_btn-container a:hover {
  color: rgba(0, 128, 255, 0.3137254902);
}
.quote_btn-container .quote_btn {
  display: inline-block;
  padding: 5px 25px;
  background-color: rgba(0, 128, 255, 0.3137254902);
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid rgba(0, 128, 255, 0.3137254902);
}
.quote_btn-container .quote_btn:hover {
  color: #ffffff;
  transform: translateY(-3px);
}

/*end header section*/
.footer_section {
  position: relative;
  text-align: center;
}
.footer_section p {
  padding: 25px 0;
  margin: 0;
}
.footer_section p a {
  color: inherit;
}

.ftco-section {
  height: 100vh;
  padding: 7em 0;
  background-image: url(/images/bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.animate-container {
  animation: fadeIn 1s ease-in-out;
}

.login-wrap {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  animation: fadeIn 0.8s ease-in-out;
}
.login-wrap .icon {
  padding: 5px;
  color: #738fdd;
  animation: bounce 2s;
}
.login-wrap .login-form {
  position: relative;
}
.login-wrap .login-form .form-group {
  margin-top: 20px;
}
.login-wrap .login-form .form-group .icon {
  color: #ffffff;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #3F51B5;
  font-size: small;
  border-radius: 8px;
  animation: slideIn 0.5s ease-in-out;
}
.login-wrap .login-form .form-group .form-control {
  transition: all 0.3s ease;
  height: 48px;
  background: #fff;
  color: #000;
  font-size: smaller;
  border-radius: 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 60px;
}
.login-wrap .login-form .form-group .form-control:focus, .login-wrap .login-form .form-group .form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #3F51B5;
  border-radius: 8px;
  animation: borderAnim 1.5s infinite alternate;
}
.login-wrap .login-form .form-group .rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.login-wrap .login-form .form-group .btn-primary {
  color: #ffffff;
  background-color: #3F51B5;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrap .login-form .form-group .btn-primary .icon-arrow {
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.login-wrap .login-form .form-group .btn-primary:hover .icon-arrow {
  opacity: 1;
  transform: translateX(10px);
}

.card-service {
  display: block;
  transition: all ease-in 2s;
  margin: 16px auto;
  padding: 32px 20px;
  max-width: 300px;
  text-align: center;
  color: #898798;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(95, 92, 120, 0.12);
}
.card-service .body {
  animation: fadeIn 1s ease-in-out;
}

.card-service:hover .body {
  animation: fadeIn 1s ease-in-out;
}

.card-service .header {
  margin-bottom: 24px;
}

.text-secondary {
  color: #645F88 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #59547c !important;
}

@keyframes borderAnim {
  from {
    border-color: #007bff;
  }
  to {
    border-color: #ff00ff;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-primary {
  color: #3F51B5;
  background-color: #ffffff;
  width: 50%;
  height: 48px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.btn-primary .icon-arrow {
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.btn-primary:hover .icon-arrow {
  opacity: 1;
  transform: translateX(10px);
  color: #fff; /* Text color on hover */
}
.btn-primary:focus, .btn-primary .btn.btn-primary.focus {
  opacity: 1;
  transform: translateX(10px);
  color: #fff; /* Text color on hover */
}
